@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans p-0 m-0 bg-base-300 relative w-screen h-screen overflow-x-hidden flex flex-col min-h-screen;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

main {
  @apply relative w-screen min-h-screen p-0 m-0 flex-1 mb-24 z-10;
}

section {
  @apply sticky top-0 flex items-center justify-center h-screen w-full bg-[#f9f9f9] p-0 m-0 z-20;
}

header {
  @apply fixed top-0 left-0 z-50 flex items-center justify-between w-screen h-16 bg-white shadow-md p-0 m-0;
}

footer {
  @apply sticky bottom-0 left-0 w-screen grid items-center justify-between h-28 p-20 bg-secondary z-0;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

h4 {
  @apply text-base font-bold;
}

h5 {
  @apply text-sm font-bold;
}

h6 {
  @apply text-xs font-bold;
}

.typewriter {
  @apply flex space-x-1 my-6;
}

.typewriter-inner {
  @apply text-xs sm:text-base md:text-xl xl:text-5xl font-bold whitespace-nowrap;
}
